<%- include("Header"); -%>
<section id="bookingform-header" class="airconditioner" >
    <h1>Air conditioner Installation</h1>

</section>
<section id="booking-form">
  <h2>AC Installation service Hyderabad</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="bookform">
        <%- include ("bookingform"); -%>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
         
          <img src="images/acopening6.jpg" alt="acrepair">
        </div>
        <div class="col-lg-12">
          <p>SS services provides the best residential and commercial air conditioning service in Hyderabad. We specialize in air conditioning  maintenance and installation and have the experience and knowledge to get your AC installed and keep it running smoothly.

            SS services is committed to achieving excellence and we are your go to company for all of your ac needs. Our experienced team  works together to provide our clients with the best service and top quality workmanship.</p>
        </div>
      </div>
      
    </div>
  </div>
  
</section>

<section id="washer-info">
  <div class="row info">
    <div class="col-lg-6 col-sm-12">
<img  src="images/ac-installation3.jpg" alt="acinstallation">
    </div>
    <div class="col-lg-6 col-sm-12 washer-info">
      <p>If you live in Hyderabad, you understand the importance of air conditioning. Summers are hot! Do you find yourself tossing and turning in bed at night, unable to sleep because it is just too hot? If so, you are not alone! Many of us struggle to sleep comfortably when the weather turns hot. The solution? Best AC installation and maintainance Company in Hyderabad.</p>
      <p>  Our highly experienced team of professionals can install a residential ac system in your home to keep you cool all year round. We can help you to find the right system for your home and install it quickly and efficiently-we’ll have you sleeping like a baby in no time!</p>
        
    <p>No matter the size of your home or your air needs, we will find the right AC system for you home that best suits your needs. We take pride in listening to our clients and their needs and finding the perfect home cooling system to fit those needs.</p>
        
     </div> 
     
    </div>

  
  </div>
</section>
<%- include("Footer"); -%>