<%- include("Header"); -%>
<section id="bookingform-header" class="airconditioner" >
    <h1>Air conditioner Repair</h1>

</section>
<section id="booking-form">
  <h2>AC repair service Hyderabad</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="bookform">
        <%- include ("bookingform"); -%>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
         
          <img src="images/ac repair.jpg" alt="acrepair">
        </div>
        <div class="col-lg-12">
          <p>Our quality air conditioner repair services are performed by professionally qualified, AC service technicians.  Means we have the experience, skills and tools to fix AC problems right the first time. All of our repairs services are guaranteed 100% for 90days which gives you a complete peace of mind. SSservices airConditioning Services is fully licensed and insured in air conditioning repair, sales, installation and air conditioning maintenance for all brands of air conditioning units, throughout Hyderabad and secundrabad .</p>
        </div>
      </div>
      
    </div>
  </div>
  
</section>

<section id="washer-info">
  <div class="row info">
    <div class="col-lg-6 col-sm-12">
<img src="images/ACrepair2.jpg" alt="acrepair">
    </div>
    <div class="col-lg-6 col-sm-12 washer-info">
      <p><b>Air conditioner Repair Hyderabad </b>Of course,the need for cooling increasing evreyday as the temperatures are rising daily.Once the air conditioning was a luxury but now it became a neccessity and as usage increases at some point in time they breakdown causing us a big problem so if you face any problem our team reccomends you to contact us today. Here are the most common AC repair needs we see each week. Remember, if you aren’t sure what’s acting up, we will come to you, diagnose the problem, and make the repair the same day:</p>
      <ul>
        <b><li>
          Clogged or dirty air filter.
        </li>
        <li>
          Dirty or imbalanced thermostat.
        </li>
        <li>
          Leaking refrigerant (also called Freon).
        </li>
        <li>
          Clogged drain line.
        </li>
<li>
  Faulty wiring.
</li>
<li>
  Corroded, dirty, or frozen coils.
</li>
<li>Worn contactors.</li>
</b>
      </ul>
      <p>Don’t settle for a Air conditioner Repair service Hyderabad that is running slowly. Contact us, and we can carry out a full diagnostic repair service to maximize performance again.</p>
    </div>

  </div>
  </div>
</section>
<%- include("Footer"); -%>