<section id="contactus">
    <div class="row">
      <div class=" col-lg-3 col-sm-12 ">
      <div class="contact-item">
        <i class="medium material-icons contacticon1">location_on</i>
        <div class="data">
          <h6><b>Address</b></h6>
          <p>SS services</p><p>Hyderabad,parsigutta.</p>
    
        </div>
      </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="contact-item">
          <i class="medium material-icons">access_time</i>
          <div class="data">
            <h6><b>We Are Open</b></h6>
          <p>Opening hours: 7.00-21.00 Mon-Sat</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="contact-item">
          <i class="medium material-icons">call</i>
          <div class="data">
            <h6><b>Phone</b></h6>
           <p>Phone:<a class="emaillink" href="tel:+91 9573908338" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">9573908338</a></p> 
            <p>Landline:1234567890</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12 ">
        <div class="contact-item">
          <i class="medium material-icons prefix">email</i>
          <div class="data">
            <h6>Email</h6>
            <a class="emaillink" href="mailto:praveenkumargoud838@gmail.com">praveenkumargoud838@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    
      </section>
      
      <footer>
        <div class="socialmediaicons">
         <a href=""><i class="fab fa-facebook fa-2x"></i></a>      
         <a href=""> <i class="fab fa-twitter fa-2x"></i></a>
          <a href="http://www.instagram.com/anthakuminchi__"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="https://api.whatsapp.com/send?phone=+919573908338&text=&source=&data=" target="blank"><i class="fab fa-whatsapp-square fa-2x"></i></a>
        </div>
        <small> Copyright &copy;<%=currentyear%> ss services.All Rights Reserved</small> 
      </footer>
      
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- Compiled and minified JavaScript -->
            
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <script src="index.js"></script>
       
          
    </body>
    </html>