<%- include("Header"); -%>
<section id="bookingform-header" class="fridge-repair" >
    <h1>Refrigerator Repair</h1>

</section>
<section id="booking-form">
  <h2>Refrigerator repair service Hyderabad</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="bookform">
        <%- include ("bookingform"); -%>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
         
          <img src="images/fridge2.png" alt="fridgerepair">
        </div>
        <div class="col-lg-12">
          <p>For anyone who owns a fridge in the Greater Hyderabad area,its most probable that oneday fridge will break down,  The longer that you leave the refrigerator, though, the more likely it is that a replacement will be needed.That’s why the team at ss services Appliance Repair Hyderabad encourage you to get in touch with us the moment you notice any issues with your appliances. The sooner a problem is sought and found, the sooner we can get around to solving the issue at hand for you.so contact us today. </p>
        </div>
      </div>
      
    </div>
  </div>
  
</section>

<section id="washer-info">
  <div class="row info">
    <div class="col-lg-6 col-sm-12">
<img src="images/fridge4.jpg" alt="acrepair">
    </div>
    <div class="col-lg-6 col-sm-12 washer-info">
      <p><b>Refrigerator Repair Hyderabad </b>Of course, knowing what to look out for with your fridge is always useful. If you are looking for any issues with your fridge, then you might wish to take a look at our general refrigerator service. We can take a look at the issues that you might have before putting in place a solid solution to bring an end to the issue. All that you need to do is look out for any of the following problems:</p>
      <ul>
        <b><li>
          Refrigerator is warm and freezer is cold.
        </li>
        <li>
          There is always water in the crisper or on the floor.
        </li>
        <li>
          Fridge makes excessive noises.
        </li>
        <li>
          Fridge will not stop.
        </li>
<li>
  Fridge will not defrost.
</li>
<li>
  Ice maker will not create any ice.
</li>
<li>Fridge is warm in both fridge and freezer.</li>
<li>Will not start.</li>
<li>Temperature control will not respond.</li>
</b>
      </ul>
      <p>Our team are happy to look over any issues you might have spotted, so don’t hesitate. We provide you with a service that can easily solve the problem any day of the week, so contact us and arrange a visit. Our diagnostics team will be in touch with you to let you know how we can help you to take better care of your fridge.</p>
    </div>

  </div>
  </div>
</section>
<%- include("Footer"); -%>