<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

   
<!-- bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!-- METERIALIZE -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css">
<script src="https://kit.fontawesome.com/ef2691eef2.js" crossorigin="anonymous"></script>
<link rel="icon" href="images/Faviconbig.png" type="image/png" sizes="16x16">

<link rel="stylesheet" href="css/style.css">
 
</head>
<body>
    <div class="overlay overlay-slide-left" id="overlay">
        <!-- Menu Items -->
        <navbar>
          <ul>
            <li id="nav-1" class="slide-out-1"><a href="/#home">Home</a></li>
            <li id="nav-2" class="slide-out-2"><a href="/#About-us">About</a></li>
            <li id="nav-3" class="slide-out-3"><a href="/#services">Services</a></li>
            <li id="nav-4" class="slide-out-4"><a href="/#callback">Contactus</a></li>
            <li id="nav-5" class="slide-out-5"><div class="social">
              <a  href="tel:+91 9573908338" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"> <i class=" material-icons fa-2x">call</i></a>
              <a href=""><i class="fab fa-facebook fa-2x"></i></a>      
              <a href=""> <i class="fab fa-twitter fa-2x"></i></a>
               <a href="http://www.instagram.com/anthakuminchi__"><i class="fab fa-instagram fa-2x"></i></a>
               <a href="https://api.whatsapp.com/send?phone=+919573908338&text=&source=&data=" target="blank"><i class="fab fa-whatsapp-square fa-2x"></i></a></div></li>
          </ul>
        </navbar>
      </div>
      <h3 ><a class="ssservices" href=""  target="_blank"><b>Knock Expert</b></a></h3>
      <!-- Menu Bars -->
      <div class="menu-bars" id="menu-bars">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div id="navbarbackground">
     
    </div>
    <div class=" fix-icon">
      <a class="fix-icon-item" href="tel:+91 9573908338" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"> <i class="navcallicon material-icons fa-2x ">call</i><span class="hide-on-small-only">9573908338</span> </a>
    </div>
 
      
    
   