<%- include("Header"); -%>
      <!-- Sections -->
      <section id="home" >
       
       
        
          
        
        <div class="home-text slide-in-down">
          <!-- style="color:#48ff00" -->
        <h1 class="">WE BRING <br>YOUR APPLIANCE<br> <b >BACK TO LIFE</b></h1>
        <p>Our team of professionals are well trained in the repairs of all major home appliances and will repair any malfunction.</p>
        <div class="button">
        <a href="#" class="button1 waves-effect waves-teal btn-large  light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
      </div>
     
    </div>
      
    </section>
     
    <section id="services">
      <div class="row">
        <div class="col-lg-12 services-hedding">
          <h2>OUR SERVICES</h2>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ">
              <div class="cards">
 <img src="images/acopening4.jpg" style="height:auto " alt="ac repair">
 <h4 >Air Conditioner</h4>
 <p>Any isuue with your AC we are here to help you and make it work like new one. </p>
 <div class="card-schedule">
   <a href="/acrepair" class="card-button waves-effect waves-teal btn-large   light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
 </div>
 </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ">
             <div class="cards">
              <!-- http://supersureservices.com/Assets/services/services-07.jpg -->
               <img  src="images/fridge3.jpg" alt="ac repair">
               <h4 >Fridge</h4>
               <p>IS your fridge not worKing like it used to,we can make work like new one.</p>
               <div class="card-schedule">
                 <a href="/refrigerator-repair" class="card-button waves-effect waves-teal btn-large   light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
               </div>
               </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 ">
             <div class="cards">
              <!-- http://supersureservices.com/Assets/services/services-09.jpg -->
               <img src="images/washer2.jpg" alt="ac repair">
               <h4 >Washing machine</h4>
               <p>Have a problem with your washing machine ,no tention just book your appointment and relax. </p>
               <div class="card-schedule">
                 <a href="/washingmachinerepair" class="card-button waves-effect waves-teal btn-large   light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
               </div>
               </div>
           </div>
           <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="cards">
              <!-- http://shankventures.com/wp-content/uploads/2017/06/AC-Installation-in-Delhi.jpg -->
              <img src="images/acrepair3.jpg" alt="ac repair">
              <h4>AC installation</h4>
              <p>Any isuue with your AC we are here to help you and make it work like new one. </p>
              <div class="card-schedule">
                <a href="ac-installation" class="card-button waves-effect waves-teal btn-large   light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
              </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="cards">
              <!-- https://i.pinimg.com/564x/e1/a8/f2/e1a8f2dfbe51356130dce53c1141aa6c.jpg -->
              <img src="images/dishwasher1.jpg" alt="ac repair">
              <h4 >Dish washer</h4>
              <p>Any isuue with your AC we are here to help you and make it work like new one. </p>
              <div class="card-schedule">
                <a href="/dishwasher-repair" class="card-button waves-effect waves-teal btn-large   light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
              </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="cards">
              <img src="images/oven3.jpg"  alt="ac repair">
              <h4 >Oven</h4>
              <p>Any isuue with your AC we are here to help you and make it work like new one. </p>
              <div class="card-schedule">
                <a href="/oven-repair" class="card-button waves-effect waves-teal btn-large  light-green accent-2 grey-text text-darken-4 callbutton">Schedule now</a>
              </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section id="why-us">
      <div class="row">
        <div class="col-lg-12">
<p><b>We know that appliances break down at very important times.our profeesional techinicians are magicians when it comes to repairing a malfunction of homeappliances.</b> </p>
        </div>
        <div class="col-lg-12">
          <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 icon-whyus">
            <i class="fas fa-check-square fontawesome-icon fa-5x"></i>
            <h2>why choose us</h2>
            <p>we have <b>professional</b> technicians ,unlike other servicing companies we are most <b>affordable</b> and <b>reliable</b>. </p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12  icon-whyus">
            <i class="fas fa-chart-line fa-5x fontawesome-icon"></i>
            <h2>Our mission</h2>
            <p>Main goal is to provide quality repairs to help you extend the life of the appliance in <b>very less price</b>.</p>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12  icon-whyus">
            <i class="fas  fa-tools fa-5x fontawesome-icon"></i>
            <!-- <i class="fas fa-cogs"></i> -->
            <h2>What we do</h2>
            <p>We make our customers happy by providing them a quality service and getting their appliance back to life.</p>
          </div>
        </div>
        </div>
      </div>

    </section> 
    <section id="About-us">
      <div class="row">
        <div class="col-lg-12 about-us-heading">
         <h2>About us</h2>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-7 ">
            <img src="images/about-img2.jpg" alt="aboutimg">
            </div>
            <div class="col-lg-5 about-us-text">
    <p>We are  home appliance repair and servicing company in your neighbourhood. </p>
    <p> We aim to make coustomers experience easier and much more pleasant.</p>
    <br>
    <h5>What are we good at</h5>
    <br>
    <h6><b>Diognising</b></h6>
    <br>
    <h6><b>Repair</b></h6>
    <br>
    <h6><b>Maintainance</b></h6>
    <br>
    <h6><b>Installation</b></h6>
            </div>
          </div>
          <div class="col-lg-12 about-button">
            <a href="#" class="card-button waves-effect waves-teal btn-large  light-green accent-2 grey-text text-darken-4 callbutton">Learn more</a>

          </div>
        </div>
      </div>
     
    </section>
    <section id="brands">
      <div class="row">
        <div class="col-lg-12">
          <h2><b>Our most popular brands</b></h2>
          <p>Our technicians are specialised in dealing with every single brand in the market including</p>
        </div>
        <div class="col-lg-12">
          <img src="images/brands/impbrands.svg" alt="brands">
        </div>
      </div>
    </section>
    
    <div class="container reviews">
      <h2>Testimonials</h2>
      <div class="row">
          <div class="col-md-12">
              <div id="testimonial-slider" class="owl-carousel">
                  <div class="testimonial">
                      <div class="pic">
                          <img src="https://bestjquery.com/tutorial/testimonial/demo41/images/img-1.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <br>
                          <p class="description">
                              very good service by technicians,repair done at very reasonable cost.
                          </p>
                          <br>
                          
                          <h3 class="testimonial-title">Williamson
                              <small class="post">Web Developer</small>
                          </h3>
                      </div>
                  </div>
   
                  <div class="testimonial">
                      <div class="pic">
                          <img src="https://bestjquery.com/tutorial/testimonial/demo41/images/img-2.jpg" alt="">
                      </div>
                      <div class="testimonial-content">
                        <br>
                          <p class="description">
                             Service done within 24hrs,and fridge working very good after repair.
                          </p>
                          <br>
                          <h3 class="testimonial-title">kristiana
                              <small class="post">Web Designer</small>
                          </h3>
                      </div>
                  </div>
                  <div class="testimonial">
                    <div class="pic">
                        <img src="https://bestjquery.com/tutorial/testimonial/demo41/images/img-2.jpg" alt="">
                    </div>
                    <div class="testimonial-content">
                      <br>
                        <p class="description">
                           Service done within 24hrs,and fridge working very good after repair.
                        </p>
                        <br>
                        <h3 class="testimonial-title">kristiana
                            <small class="post">Web Designer</small>
                        </h3>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>

  <section id="callback">
    <form action="/" method="POST">
    <h2>Request callback</h2>
    <div class="row callback">
      <div class="col-lg-6 col-md-6 col-sm-12">
<img class="contactme" src="https://dd7tel2830j4w.cloudfront.net/f1505468260832x993779528886079700/letter.svg" alt="contactus">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 callback2">
       
          <div class="callbackinput">
      
              <div class="input-field ">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" name="firstname" class="validate">
                <label for="icon_prefix">First Name</label>
              </div>
              <div class="input-field ">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" name="mobileno" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
              </div>
              <div class="input-field ">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate">
                <label for="email" >Email</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="textarea2" name="message" class="materialize-textarea" data-length="120"></textarea>
                <label for="textarea2">Discribe your issue</label>
              </div>
            </div>
      </div>
    </div>
    <div class="contactmebutton">
      <button class="contactbtn btn waves-effect waves-light btn-large   grey-text text-darken-4" type="submit" name="action">Send
        <i class="material-icons right">send</i>
      </button>
      
    </div>
  </form>
  </section>
  <%- include("Footer"); -%>