<%- include("Header"); -%>
<section id="bookingform-header" class="ovenheader" >
    <h1>Microwave oven/Range Repair</h1>

</section>
<section id="booking-form">
  <h2>Oven/Range repair service Hyderabad</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="bookform">
        <%- include ("bookingform"); -%>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
         
          <img src="images/ovenheader.jpg" alt="acrepair">
        </div>
        <div class="col-lg-12">
          <p>For anyone based in Greater Hyderabad, one of the worst problems you can face is a oven and/or range that is not working correctly. Not only do we use these on a daily basis to help us cook our food, but we need them for safe and hygienic cooking. However, when your range and/or oven starts to lose performance, you can increase the risk of running into problems later on down the line. Like any other appliance issue, damaged ranges and ovens need repairs.</p>
        </div>
      </div>
      
    </div>
  </div>
  
</section>

<section id="washer-info">
  <div class="row info">
    <div class="col-lg-8 col-sm-12">
<img src="images/oven4.jpg" alt="acrepair">
    </div>
    <div class="col-lg-4 col-sm-12 washer-info">
        <h4>What are the common issues with Ovens and ranges</h4>
      <p>Occasionally Ovens/ranges may stop working and experience some issues and will not function properly. Some common range and oven issues you’ll face include:</p>
      <ul>
        <b><li>
            Oven will not heat.
        </li>
        <li>
            Oven temperature is not accurate.
        </li>
        <li>
            Oven will not turn on.
        </li>
        <li>
            Oven bake or broil elements are not working.
        </li>
<li>
    Oven door remains locked.
</li>
<li>
    Ovens convection fan is not working or turning off.
</li>

</b>
      </ul>
      <p>Need help? Then contact us today. SS services Repair specializes in all sorts of technical difficulties. We work 7 Days per week, working 24/7, so we are always available to help – so don’t hesitate co contact us today!</p>
    </div>

  </div>
  </div>
</section>
<%- include("Footer"); -%>