<%- include("Header"); -%>
<section id="bookingform-header" class="washing-machine-header">
    <h1>Washing machine repair</h1>

</section>
<section id="booking-form">
  <h2>Washer repair service Hyderabad</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="bookform">
        <%- include ("bookingform"); -%>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-12">
          <!-- https://secureservercdn.net/198.71.233.68/v0t.fb6.myftpupload.com/wp-content/uploads/2019/12/case-2-1-380x270.jpg -->
          <img src="images/washer.jpg" alt="washer">
        </div>
        <div class="col-lg-12">
          <p>For those who own a washing machine in Greater Hyderabad, it’s likely that you will have issues at one stage throughout the lifespan of your washing machine. The longer that you leave any of the issues you have spotted, though, the longer it will take for a repair to be carried out. Leave the damage for long enough, and your washing machine could become beyond repair.<b>Thats why the team at ss services reccomends you to contact us today.</b> .</p>
        </div>
      </div>
      
    </div>
  </div>
  
</section>

<section id="washer-info">
  <div class="row info">
    <div class="col-lg-6 col-sm-12">
<img src="https://i0.wp.com/godiygo.com/wp-content/uploads/2018/10/laundry-room-design-ideas-that-will-maximize-your-small-space-07.jpg?resize=640%2C640&ssl=1" alt="">
    </div>
    <div class="col-lg-6 col-sm-12 washer-info">
      <p><b>Washer Repair Hyderabad </b>Of course, before you call us it makes sense to know what to look out for if anything. While washing machine issues could go beyond the below, we suggest that any washing machines that provide the following symptoms are likely in some kind of need of repair. Please try to keep an eye out for any of the issues that you might see below:</p>
      <ul>
        <b><li>
          Washer will not drain.
        </li>
        <li>
          Washer leak water.
        </li>
        <li>
          Washer will not start.
        </li>
        <li>
          Washer will not spin.
        </li>
<li>
  Washer overfills.
</li>
<li>
  Washer makes excessive noise or vibration.
</li>
<li>Washer stops mid cycle.</li>
<li>Washer lights will blink.</li></b>
      </ul>
      <p>Don’t settle for a Washer Repair service Hyderabad that is running slowly. Contact us, and we can carry out a full diagnostic repair service to maximize performance again.</p>
    </div>

  </div>
</section>
<%- include("Footer"); -%>